.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cardManagement {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
}
