@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.someClass {
  font-family: "Naughty Monster";
}

.active-tab {
  @apply flex items-center rounded-lg bg-black p-2 px-4  text-xs font-semibold text-[sidebar] text-white;
}

.inactive-tab {
  @apply px-2 text-xs font-semibold;
}

.tab-bg {
  @apply md:bg-gray-100;
}

.mobiletab-bg {
  @apply max-md:bg-gray-100;
}

.small-card {
  @apply max-md:mb-2  max-md:rounded-md  max-md:bg-white max-md:px-2 max-md:shadow;
}

[data-theme="dark"] .small-card {
  @apply max-md:bg-black;
}

[data-theme="dark"] .tab-bg {
  @apply md:bg-gray-700;
}

[data-theme="dark"] .mobiletab-bg {
  @apply max-md:bg-gray-700;
}

[data-theme="dark"] body {
  background-color: #1b1b1b;
}

.sidebar {
  @apply bg-[#ebf0f0];
}

[data-theme="dark"] .sidebar {
  @apply bg-[#000000];
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply px-5 py-6 lg:px-20 xl:px-28 3xl:px-72;
}

.navbar {
  @apply paddings fixed w-screen;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.footer {
  @apply paddings w-full flex-col gap-20 bg-primary-900;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
}

.animate-left {
  animation: slideFromLeft 1s ease-out;
}

.animate-right {
  animation: slideFromRight 1s ease-out;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-in {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
